html,
body {
  height: 100vh;
  background-color: aliceblue;
}

.header {
  position: sticky;
  z-index: 1000;
  display: horizontal;
  top: 0;
  width: 100%;
  color: red;
  margin-bottom: 15px;
}

.footer {
  position: fixed;
  width: 100%;
  padding: 8px;

  bottom: 0;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 3px;
  color: rgb(228, 10, 137) (255, 0, 149);
  background-color: rgb(209, 18, 177);
}

.nav-link {
  margin-right: 20px;
  padding: 8px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 255, 0.418);
}

a {
  text-decoration: none;
  color: rgb(116, 17, 173);
}

.welcome {
  margin: 5px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 90%;
}
